.main-red-color {
    color: #FA236A;
}

.main-blue-color {
    color: #242B5E;
}

a.main-blue-color:hover {
    color: #32354f;
}

.menu-wrapper .user-dropdown a {
    color: #252b60;
    font-weight: 500;
    font-family: "Barlow",sans-serif;
    display: block;
    font-size: 16px;
}

.single-job-items .job-tittle ul li {
    margin-right: 40px;
}


/* Pagination style */

.page-item.active .page-link {
    background-color: #FA236A;
    border-color: #FA236A;
}

.notification {
    width: 30%;
    background: #242B5E;
    padding: 20px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    border-radius: 50px;
    margin: auto;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
.notification.fail {
    background: #FA236A;
}