

.menu-wrapper .user-dropdown a {
    color: #252b60;
    font-weight: 500;
    font-family: "Barlow",sans-serif;
    display: block;
    font-size: 16px;
}

.single-job-items .job-tittle ul li {
    margin-right: 40px;
}